## Preprocessing

In [2]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.11.0-cp39-cp39-win_amd64.whl (1.9 kB)
Collecting tensorflow-intel==2.11.0
  Downloading tensorflow_intel-2.11.0-cp39-cp39-win_amd64.whl (266.3 MB)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.31.0-cp39-cp39-win_amd64.whl (1.5 MB)
Requirement already satisfied: setuptools in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (61.2.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.19.1)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
Requirement already satisfied: h5py>=2.9.0 in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.6.0)
Collecting termcolor>=1.1.0
  Downloading termcolor-2.2.0-py3-none-any.whl (6.6 kB)
Collecting libclang>=13.0.0
  Downloading libclang-15.0.6.1-py2.py3-none-win_amd64.whl (23.2 MB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (4.1.1)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-23.1.21-py2.py3-none-any.whl (26 kB)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
Requirement already satisfied: numpy>=1.20 in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.21.5)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.42.0)
Collecting absl-py>=1.0.0
  Downloading absl_py-1.4.0-py3-none-any.whl (126 kB)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.12.1)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.2-py3-none-any.whl (6.0 MB)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Requirement already satisfied: packaging in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (21.3)
Requirement already satisfied: six>=1.12.0 in c:\users\shupe\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\shupe\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow) (0.37.1)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Requirement already satisfied: markdown>=2.6.8 in c:\users\shupe\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\shupe\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.27.1)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\shupe\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.3)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\shupe\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.33.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\shupe\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\shupe\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\shupe\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.2.2)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\shupe\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shupe\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\shupe\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shupe\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shupe\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2021.10.8)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\shupe\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.11.0->tensorflow) (3.0.4)
Installing collected packages: oauthlib, requests-oauthlib, tensorboard-plugin-wit, tensorboard-data-server, google-auth-oauthlib, absl-py, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow-intel, tensorflow
Successfully installed absl-py-1.4.0 astunparse-1.6.3 flatbuffers-23.1.21 gast-0.4.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 keras-2.11.0 libclang-15.0.6.1 oauthlib-3.2.2 opt-einsum-3.3.0 requests-oauthlib-1.3.1 tensorboard-2.11.2 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-intel-2.11.0 tensorflow-io-gcs-filesystem-0.31.0 termcolor-2.2.0

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(['EIN','NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
temp_app=application_df['APPLICATION_TYPE'].value_counts()
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(temp_app[temp_app < 527].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
temp_class= application_df['CLASSIFICATION'].value_counts()
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace= list(temp_class[temp_class < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
numeric_app_df = pd.get_dummies(application_df)
numeric_app_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = numeric_app_df.drop('IS_SUCCESSFUL', axis=1)
y = numeric_app_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=30, activation='relu',input_dim=number_input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=15, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))


# Check the structure of the model
nn.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 30)                1350

 dense_25 (Dense)            (None, 15)                465

 dense_26 (Dense)            (None, 1)                 16

=================================================================
Total params: 1,831
Trainable params: 1,831
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [38]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5769 - accuracy: 0.7152
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5569 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7297
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7305
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7302
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7316
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7316
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7325
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7310
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7321
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7322
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7323
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7326
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7321
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7337
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7326
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7334
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7347
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7334
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7343
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7341
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7354
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7333
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7329
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7339
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7345
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7348
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7346
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7364
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7346
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7348
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7350
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7350
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7359
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7353
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7350
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7368
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7357
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7363
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7361
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7372
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7368
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7361
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7375
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7374
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7365
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7365
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7367
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7374
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7367
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7363
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7367
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7367
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7376
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7380
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7368
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7379
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7365
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7371
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7374
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7380
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7384
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7367
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7368
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7380
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7382
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7383
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7379
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7370
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7379
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7377
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7386
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7387
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7384
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7385
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7389
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7376
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7380
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7382
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7371
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7374

In [39]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5554 - accuracy: 0.7298 - 344ms/epoch - 1ms/step
Loss: 0.5554390549659729, Accuracy: 0.7297959327697754

In [40]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity.h5')

In [41]:
from tensorflow.keras.models import load_model
model = load_model('AlphabetSoupCharity.h5')

In [42]:
model.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 30)                1350

 dense_25 (Dense)            (None, 15)                465

 dense_26 (Dense)            (None, 1)                 16

=================================================================
Total params: 1,831
Trainable params: 1,831
Non-trainable params: 0
_________________________________________________________________